/*!
 *
 * Reflex v1.0
 *
 * Reflex is a flexbox grid which provides a way to take advantage of emerging
 * flexbox support while providing a fall back to inline-block on older browsers
 *
 * Built by Lee Jordan G.C.S.E.
 * email: ldjordan@gmail.com
 * github: https://github.com/leejordan
 *
 * Structure and calculations are inspired by twitter bootstrap
 *
 */
.reflex-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
  list-style-type: none;
}
.reflex-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.reflex-container *:before,
.reflex-container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.reflex-item {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}
.reflex-col-xxs-12 {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-11 {
  width: 91.66666666666666%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-10 {
  width: 83.33333333333334%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-9 {
  width: 75%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-8 {
  width: 66.66666666666666%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-7 {
  width: 58.333333333333336%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-6 {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-5 {
  width: 41.66666666666667%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-4 {
  width: 33.33333333333333%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-3 {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-2 {
  width: 16.666666666666664%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-1 {
  width: 8.333333333333332%;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
@media (min-width: 480px) {
  .reflex-col-xs-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-11 {
    width: 91.66666666666666%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-10 {
    width: 83.33333333333334%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-8 {
    width: 66.66666666666666%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-7 {
    width: 58.333333333333336%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-5 {
    width: 41.66666666666667%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-4 {
    width: 33.33333333333333%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-2 {
    width: 16.666666666666664%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-1 {
    width: 8.333333333333332%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .reflex-col-sm-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-11 {
    width: 91.66666666666666%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-10 {
    width: 83.33333333333334%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-8 {
    width: 66.66666666666666%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-7 {
    width: 58.333333333333336%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-5 {
    width: 41.66666666666667%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-4 {
    width: 33.33333333333333%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-2 {
    width: 16.666666666666664%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-1 {
    width: 8.333333333333332%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .reflex-col-md-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-11 {
    width: 91.66666666666666%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-10 {
    width: 83.33333333333334%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-8 {
    width: 66.66666666666666%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-7 {
    width: 58.333333333333336%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-5 {
    width: 41.66666666666667%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-4 {
    width: 33.33333333333333%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-2 {
    width: 16.666666666666664%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-1 {
    width: 8.333333333333332%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .reflex-col-lg-12 {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-11 {
    width: 91.66666666666666%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-10 {
    width: 83.33333333333334%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-9 {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-8 {
    width: 66.66666666666666%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-7 {
    width: 58.333333333333336%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-6 {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-5 {
    width: 41.66666666666667%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-4 {
    width: 33.33333333333333%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-3 {
    width: 25%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-2 {
    width: 16.666666666666664%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-1 {
    width: 8.333333333333332%;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
}
.reflex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.reflex-direction-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.reflex-align-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.reflex-align-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.reflex-align-end .reflex-item,
.reflex-align-end [class*="reflex-col-"] {
  vertical-align: bottom;
}
.reflex-align-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.reflex-align-center .reflex-item,
.reflex-align-center [class*="reflex-col-"] {
  vertical-align: middle;
}
.reflex-justify-end {
  text-align: right;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.reflex-justify-center {
  text-align: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.reflex-justify-space-between {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.reflex-justify-space-around {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.reflex-padding-sm {
  margin: -0.5em 0 0.5em -0.5em;
}
.reflex-padding-sm .flex-item,
.reflex-padding-sm [class*="flex-col-"] {
  padding: 0.5em 0 0 0.5em;
}
.reflex-padding-md {
  margin: -1em 0 1em -1em;
}
.reflex-padding-md .flex-item,
.reflex-padding-md [class*="flex-col-"] {
  padding: 1em 0 0 1em;
}
.reflex-padding-lg {
  margin: -2em 0 2em -2em;
}
.reflex-padding-lg .flex-item,
.reflex-padding-lg [class*="flex-col-"] {
  padding: 2em 0 0 2em;
}
