/*! Reflex v1.0.9 - https://github.com/leejordan/reflex */

/*
 *
 * Reflex is a flexbox grid which provides a way to take advantage of emerging
 * flexbox support while providing a fall back to inline-block on older browsers
 *
 * Built by Lee Jordan G.C.S.E.
 * email: ldjordan@gmail.com
 * github: https://github.com/leejordan
 *
 * Structure and calculations are inspired by twitter bootstrap
 *
 */

@import "reflex/variables";
@import "reflex/mixins";
@import "reflex/grid";
@import "reflex/helpers";

