// --------------------------------------------------
// reflex grid
// --------------------------------------------------

// --------------------------------------------------
// reflex grid container
// --------------------------------------------------

.reflex-container {
    .display-flex();
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    // set default whitespace
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;

    // when using a ul, remove list icon
    list-style-type: none;

    *,
    &:before,
    &:after {
        .box-sizing(border-box);
        max-width: 100%;

        // reset whitespace
        letter-spacing: normal;
        word-spacing: normal;
        white-space: normal;
    }

    *:before,
    *:after {
        .box-sizing(border-box);
    }
}

// --------------------------------------------------
// reflex col defaults
// --------------------------------------------------

[class*="reflex-col-"] {
    width: 100%;

    // legacy support
    vertical-align: top;
    position: relative;

    // set display with inline-block and inline fallback
    .display-flex();

    // default alignment
    text-align: left;
    text-align: start;
}

// --------------------------------------------------
// reflex item defaults
// --------------------------------------------------

.reflex-item {
    display: block;
    .display-flex-only();
    .flex-direction(column);
    .flex(1, 1, auto);
}

// ie11 hack
_:-ms-fullscreen, :root .reflex-item {
    width: 100%;
}

// --------------------------------------------------
// reflex grid generation
// --------------------------------------------------

.make-reflex-grid();

@media (min-width: @reflex-xs) {
    .make-reflex-grid(xs-);
}

@media (min-width: @reflex-sm) {
    .make-reflex-grid(sm-);
}

@media (min-width: @reflex-md) {
    .make-reflex-grid(md-);
}

@media (min-width: @reflex-lg) {
    .make-reflex-grid(lg-);
}
