// --------------------------------------------------
// reflex mixins
// --------------------------------------------------

// --------------------------------------------------
// reflex grid generation mixins
// --------------------------------------------------

.make-reflex-grid(@class: ~'') {
    .loop-reflex-columns(@reflex-columns, @class, width);
}

.calc-reflex-columns(@index, @class, @type) when (@type = width) and (@index > 0) {
    .@{reflex-prefix}@{class}@{index} {
        width: percentage((@index / @reflex-columns));
        *width: percentage((@index / @reflex-columns)) - 0.1;

        //for ie6 support you can uncomment this line but it will increase css filesize dramatically
        //.setupCols();
    }
}

.loop-reflex-columns(@index, @class, @type) when (@index >= 0) {
    .calc-reflex-columns(@index, @class, @type);
    // next iteration
    .loop-reflex-columns((@index - 1), @class, @type);
}

// defaults for all cols
.setupCols() {
    .display-flex();
    .flex-direction(column);
    .resetTextAlign();
    .resetWhitespace();
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: @reflex-grid-spacing;
}

// defaults for auto cols
.setupAutoCols() {
    .flex(1, 0, 0px); // a unit on last value is required by IE10-11
    width: auto !important;
    max-width: 100%;
}

// --------------------------------------------------
// inline-block specific mixins
// --------------------------------------------------

.setupWhitespace() {
    letter-spacing: -0.31em !important;
    *letter-spacing: normal !important;
    word-spacing: -0.43em !important;
}

.resetWhitespace() {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
}

.resetTextAlign() {
    text-align: left;
    text-align: start;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    text-align-last: left;
    text-align-last: start;
}

// --------------------------------------------------
// order class generation mixins
// --------------------------------------------------

.order(@order: 0) {
    -webkit-order: @order;
    order: @order;
    -ms-flex-order: @order;
}

.make-grid--order-helpers() {
    .loop-grid--order-helpers(@reflex-columns);
}

.loop-grid--order-helpers(@index) when (@index >= 0) {
    .@{reflex-prefix}grid--order-@{index} {
        .order(@index);
    }
    // next iteration
    .loop-grid--order-helpers((@index - 1));
}

.make-grid--order-helpers();

// --------------------------------------------------
// reflex modifier mixins
// --------------------------------------------------

.display-flex-only() {
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
}

.display-flex() {
    display: inline-block;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    *display: inline;
    zoom: 1;
}

.flex(@grow: 0, @shrink: 1, @basis: auto) {
    -webkit-flex: @grow @shrink @basis;
    flex: @grow @shrink @basis;
    -ms-flex: @grow @shrink @basis;
}

.flex-grow(@grow:1) {
    -webkit-flex-grow: @grow;
    flex-grow: @grow;
    -ms-flex-positive: @grow;
}

.flex-shrink(@shrink:1) {
    -webkit-flex-shrink: @shrink;
    flex-shrink: @shrink;
    -ms-flex-negative: @shrink;
}

.flex-basis(@basis:auto) {
    -webkit-flex-basis: @basis;
    flex-basis: @basis;
    -ms-flex-preferred-size: @basis;
}

.flex-flow(@direction: row, @wrap: nowrap) {
    -webkit-flex-flow: @direction @wrap;
    flex-flow: @direction @wrap;
    -ms-flex-wrap: @wrap;
    -ms-flex-direction: @direction;
}

.flex-wrap(@wrap: wrap) {
    -webkit-flex-wrap: @wrap;
    flex-wrap: @wrap;
    -ms-flex-wrap: @wrap;
}

.flex-direction(@direction: row) {
    -webkit-flex-direction: @direction;
    flex-direction: @direction;
    -ms-flex-direction: @direction;
}

.align-items(@align: stretch) {
    -webkit-align-items: @align;
    align-items: @align;
    -ms-flex-align: @align;
    .ms-align(@align);
}

.align-self(@align: stretch) {
    -webkit-align-self: @align;
    align-self: @align;
    -ms-flex-align: @align;
    .ms-align(@align);
}

.align-content(@align: stretch) {
    -webkit-align-content: @align;
    align-content: @align;
    .ms-align(@align);
}

.ms-align(@align) when (@align = 'flex-start') {
    -ms-flex-align: start;
}

.ms-align(@align) when (@align = 'flex-end') {
    -ms-flex-align: end;
}

.ms-align(@align) {
    -ms-flex-align: @align;
}

.justify-content-start() {
    text-align: left;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: start;
}

.justify-content-end() {
    text-align: right;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: end;
}

.justify-content-center() {
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.justify-content-space-between() {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
}

.justify-content-space-around() {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: justify;
}

// --------------------------------------------------
// other mixins
// --------------------------------------------------

.box-sizing(@boxmodel) {
    -webkit-box-sizing: @boxmodel;
    -moz-box-sizing: @boxmodel;
    box-sizing: @boxmodel;
}
