@import "includes/mixins.less";
@import "includes/normalise.less";
@import "includes/scaffolding.less";
@import "includes/typography.less";
@import "includes/button-anims.less";
@import "includes/theme.less";
@import "../../less/reflex.less";

@theme: darken(#00b5e9, 10%);

@font-family-base:  'Lato', Helvetica, Arial, sans-serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-size-base-px:       16px;
@font-size-base-rem:      1rem;
@font-weight-base:        400;
@font-weight-strong:      700;
@line-height-base:        1.5;

@body-bg:               #FFF;
@text-colour:           #000;
@link-colour:           @theme;
@link-hover-colour:     darken(@theme, 10%);
@link-hover-decoration: underline;
@hr-border:             @theme;

@dimension-padding-base: 1em;
@dimension-padding-lg: 2em;
