.reflex-container {
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
  list-style-type: none;
}
.reflex-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.reflex-container *:before,
.reflex-container *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.reflex-item,
[class*="reflex-col-"] {
  width: 100%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}
.reflex-col-xxs-12 {
  width: 100%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-11 {
  width: 91.66666666666666%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-10 {
  width: 83.33333333333334%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-9 {
  width: 75%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-8 {
  width: 66.66666666666666%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-7 {
  width: 58.333333333333336%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-6 {
  width: 50%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-5 {
  width: 41.66666666666667%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-4 {
  width: 33.33333333333333%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-3 {
  width: 25%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-2 {
  width: 16.666666666666664%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
.reflex-col-xxs-1 {
  width: 8.333333333333332%;
  vertical-align: top;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  zoom: 1;
  *display: inline;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}
@media (min-width: 480px) {
  .reflex-col-xs-12 {
    width: 100%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-11 {
    width: 91.66666666666666%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-10 {
    width: 83.33333333333334%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-9 {
    width: 75%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-8 {
    width: 66.66666666666666%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-7 {
    width: 58.333333333333336%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-6 {
    width: 50%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-5 {
    width: 41.66666666666667%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-4 {
    width: 33.33333333333333%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-3 {
    width: 25%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-2 {
    width: 16.666666666666664%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-xs-1 {
    width: 8.333333333333332%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .reflex-col-sm-12 {
    width: 100%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-11 {
    width: 91.66666666666666%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-10 {
    width: 83.33333333333334%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-9 {
    width: 75%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-8 {
    width: 66.66666666666666%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-7 {
    width: 58.333333333333336%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-6 {
    width: 50%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-5 {
    width: 41.66666666666667%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-4 {
    width: 33.33333333333333%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-3 {
    width: 25%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-2 {
    width: 16.666666666666664%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-sm-1 {
    width: 8.333333333333332%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .reflex-col-md-12 {
    width: 100%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-11 {
    width: 91.66666666666666%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-10 {
    width: 83.33333333333334%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-9 {
    width: 75%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-8 {
    width: 66.66666666666666%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-7 {
    width: 58.333333333333336%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-6 {
    width: 50%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-5 {
    width: 41.66666666666667%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-4 {
    width: 33.33333333333333%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-3 {
    width: 25%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-2 {
    width: 16.666666666666664%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-md-1 {
    width: 8.333333333333332%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .reflex-col-lg-12 {
    width: 100%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-11 {
    width: 91.66666666666666%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-10 {
    width: 83.33333333333334%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-9 {
    width: 75%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-8 {
    width: 66.66666666666666%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-7 {
    width: 58.333333333333336%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-6 {
    width: 50%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-5 {
    width: 41.66666666666667%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-4 {
    width: 33.33333333333333%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-3 {
    width: 25%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-2 {
    width: 16.666666666666664%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
  .reflex-col-lg-1 {
    width: 8.333333333333332%;
    vertical-align: top;
    position: relative;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    zoom: 1;
    *display: inline;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    margin: 0;
    padding: 0;
  }
}
.reflex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.reflex-direction-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.reflex-align-start {
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.reflex-align-end {
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.reflex-align-end .reflex-item,
.reflex-align-end [class*="reflex-col-"] {
  vertical-align: bottom;
}
.reflex-align-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.reflex-align-center .reflex-item,
.reflex-align-center [class*="reflex-col-"] {
  vertical-align: middle;
}
.reflex-justify-end {
  text-align: right;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
}
.reflex-justify-center {
  text-align: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.reflex-justify-space-between {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}
.reflex-justify-space-around {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}
.reflex-padding-sm {
  margin: -0.25em 0 0.25em -0.25em;
}
.reflex-padding-sm .flex-item,
.reflex-padding-sm [class*="flex-col-"] {
  padding: 0.25em 0 0.25em 0.5em;
}
.reflex-padding-md {
  margin: -0.5em 0 0.5em -0.5em;
}
.reflex-padding-md .flex-item,
.reflex-padding-md [class*="flex-col-"] {
  padding: 0.5em 0 0.5em 1em;
}
.reflex-padding-lg {
  margin: -1em 0 1em -1em;
}
.reflex-padding-lg .flex-item,
.reflex-padding-lg [class*="flex-col-"] {
  padding: 1em 0 1em 2em;
}
html,
head {
  width: 100%;
}
body {
  margin: 0 auto;
  padding: 4%;
  max-width: 1200px;
  font-family: helvetica, sans-serif;
  line-height: 1.4em;
}
h1,
h2,
h3,
h4 {
  margin-top: 3em;
}
table {
  width: 100%;
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  table-layout: fixed;
}
table thead {
  background-color: #e9e9e9;
}
table th,
table td {
  padding: 10px;
  border-left: 1px solid #cbcbcb;
}
code {
  padding: 2px 4px;
  color: #333;
  font-size: 90%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #e9e9e9;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 20px;
  word-break: break-all;
  word-wrap: break-word;
  color: #333;
  font-size: 90%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #e9e9e9;
  border: 1px solid #333;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
.container {
  margin: 0 auto;
  width: 80%;
}
.reflex-container {
  margin-bottom: 2em;
}
.example-col {
  background-color: #e9e9e9;
  color: #333;
  margin: 0;
  padding: 2em;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.example-card {
  border: 1px solid #9E9E9E;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}
.example-card p {
  margin: 2em;
}
.example-card.example-card-buffer {
  margin: 0 1em;
}
.header-example a {
  margin: 0 20px;
}
