body {
  margin: 0 auto;
  padding: 4%;
  max-width: 1200px;
  font-family: helvetica, sans-serif;
  line-height: 1.4em;
}
h1,
h2,
h3,
h4 {
  margin-top: 3em;
}
table {
  width: 100%;
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  table-layout: fixed;
}
table thead {
  background-color: #e9e9e9;
}
table th,
table td {
  padding: 10px;
  border-left: 1px solid #cbcbcb;
}
.container {
  margin: 0 auto;
  width: 80%;
}
.example-col {
  background-color: #e9e9e9;
  color: #333;
  padding: 20px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
.text-center {
  text-align: center;
}
