.container,
.container-full {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.container .grid,
.container-full .grid {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}

.grid {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
  position: relative;
  letter-spacing: -.31em;
  *letter-spacing: normal;
  word-spacing: -.43em;
  list-style-type: none;
}

.grid::before, .grid::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}

[class*="col-"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
  position: relative;
  width: 100%;
  vertical-align: top;
  padding: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

[class*="col-"]::before, [class*="col-"]::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: normal;
}

[class*="col-"] .grid {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: -15px;
}

.col-12 {
  width: 100%;
  *width: 99.9%;
}

.col-11 {
  width: 91.66666667%;
  *width: 91.56666667%;
}

.col-10 {
  width: 83.33333333%;
  *width: 83.23333333%;
}

.col-9 {
  width: 75%;
  *width: 74.9%;
}

.col-8 {
  width: 66.66666667%;
  *width: 66.56666667%;
}

.col-7 {
  width: 58.33333333%;
  *width: 58.23333333%;
}

.col-6 {
  width: 50%;
  *width: 49.9%;
}

.col-5 {
  width: 41.66666667%;
  *width: 41.56666667%;
}

.col-4 {
  width: 33.33333333%;
  *width: 33.23333333%;
}

.col-3 {
  width: 25%;
  *width: 24.9%;
}

.col-2 {
  width: 16.66666667%;
  *width: 16.56666667%;
}

.col-1 {
  width: 8.33333333%;
  *width: 8.23333333%;
}

@media (min-width: 576px) {
  .col-xs-12 {
    width: 100%;
    *width: 99.9%;
  }
  .col-xs-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  .col-xs-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  .col-xs-9 {
    width: 75%;
    *width: 74.9%;
  }
  .col-xs-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  .col-xs-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  .col-xs-6 {
    width: 50%;
    *width: 49.9%;
  }
  .col-xs-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  .col-xs-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  .col-xs-3 {
    width: 25%;
    *width: 24.9%;
  }
  .col-xs-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  .col-xs-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}

@media (min-width: 768px) {
  .col-sm-12 {
    width: 100%;
    *width: 99.9%;
  }
  .col-sm-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  .col-sm-9 {
    width: 75%;
    *width: 74.9%;
  }
  .col-sm-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  .col-sm-6 {
    width: 50%;
    *width: 49.9%;
  }
  .col-sm-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  .col-sm-3 {
    width: 25%;
    *width: 24.9%;
  }
  .col-sm-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}

@media (min-width: 992px) {
  .col-md-12 {
    width: 100%;
    *width: 99.9%;
  }
  .col-md-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  .col-md-9 {
    width: 75%;
    *width: 74.9%;
  }
  .col-md-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  .col-md-6 {
    width: 50%;
    *width: 49.9%;
  }
  .col-md-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  .col-md-3 {
    width: 25%;
    *width: 24.9%;
  }
  .col-md-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}

@media (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
    *width: 99.9%;
  }
  .col-lg-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  .col-lg-9 {
    width: 75%;
    *width: 74.9%;
  }
  .col-lg-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  .col-lg-6 {
    width: 50%;
    *width: 49.9%;
  }
  .col-lg-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  .col-lg-3 {
    width: 25%;
    *width: 24.9%;
  }
  .col-lg-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}

@media (min-width: 1600px) {
  .col-xlg-12 {
    width: 100%;
    *width: 99.9%;
  }
  .col-xlg-11 {
    width: 91.66666667%;
    *width: 91.56666667%;
  }
  .col-xlg-10 {
    width: 83.33333333%;
    *width: 83.23333333%;
  }
  .col-xlg-9 {
    width: 75%;
    *width: 74.9%;
  }
  .col-xlg-8 {
    width: 66.66666667%;
    *width: 66.56666667%;
  }
  .col-xlg-7 {
    width: 58.33333333%;
    *width: 58.23333333%;
  }
  .col-xlg-6 {
    width: 50%;
    *width: 49.9%;
  }
  .col-xlg-5 {
    width: 41.66666667%;
    *width: 41.56666667%;
  }
  .col-xlg-4 {
    width: 33.33333333%;
    *width: 33.23333333%;
  }
  .col-xlg-3 {
    width: 25%;
    *width: 24.9%;
  }
  .col-xlg-2 {
    width: 16.66666667%;
    *width: 16.56666667%;
  }
  .col-xlg-1 {
    width: 8.33333333%;
    *width: 8.23333333%;
  }
}

.col-auto {
  -ms-flex: 1 0 auto;
  -webkit-flex: 1 0 0px;
  flex: 1 0 0px;
  width: auto;
}

@media (min-width: 576px) {
  .col-xs-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}

@media (min-width: 768px) {
  .col-sm-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}

@media (min-width: 992px) {
  .col-md-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}

@media (min-width: 1200px) {
  .col-lg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}

@media (min-width: 1600px) {
  .col-xlg-auto {
    -ms-flex: 1 0 auto;
    -webkit-flex: 1 0 0px;
    flex: 1 0 0px;
    width: auto;
  }
}

.order-12 {
  -ms-flex-order: 12;
  -webkit-order: 12;
  order: 12;
}

.order-11 {
  -ms-flex-order: 11;
  -webkit-order: 11;
  order: 11;
}

.order-10 {
  -ms-flex-order: 10;
  -webkit-order: 10;
  order: 10;
}

.order-9 {
  -ms-flex-order: 9;
  -webkit-order: 9;
  order: 9;
}

.order-8 {
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}

.order-7 {
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}

.order-6 {
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
}

.order-5 {
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
}

.order-4 {
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}

.order-3 {
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}

.order-2 {
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}

.order-1 {
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

.order-0 {
  -ms-flex-order: 0;
  -webkit-order: 0;
  order: 0;
}

@media only screen and (min-width: 576px) {
  .order-12-xs {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .order-11-xs {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-10-xs {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-9-xs {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-8-xs {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-7-xs {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-6-xs {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-5-xs {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-4-xs {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-3-xs {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-2-xs {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-1-xs {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-0-xs {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}

@media only screen and (min-width: 768px) {
  .order-12-sm {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .order-11-sm {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-10-sm {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-9-sm {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-8-sm {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-7-sm {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-6-sm {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-5-sm {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-4-sm {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-3-sm {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-2-sm {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-1-sm {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-0-sm {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}

@media only screen and (min-width: 992px) {
  .order-12-md {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .order-11-md {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-10-md {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-9-md {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-8-md {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-7-md {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-6-md {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-5-md {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-4-md {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-3-md {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-2-md {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-1-md {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-0-md {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .order-12-lg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .order-11-lg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-10-lg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-9-lg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-8-lg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-7-lg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-6-lg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-5-lg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-4-lg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-3-lg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-2-lg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-1-lg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-0-lg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}

@media only screen and (min-width: 1600px) {
  .order-12-xlg {
    -ms-flex-order: 12;
    -webkit-order: 12;
    order: 12;
  }
  .order-11-xlg {
    -ms-flex-order: 11;
    -webkit-order: 11;
    order: 11;
  }
  .order-10-xlg {
    -ms-flex-order: 10;
    -webkit-order: 10;
    order: 10;
  }
  .order-9-xlg {
    -ms-flex-order: 9;
    -webkit-order: 9;
    order: 9;
  }
  .order-8-xlg {
    -ms-flex-order: 8;
    -webkit-order: 8;
    order: 8;
  }
  .order-7-xlg {
    -ms-flex-order: 7;
    -webkit-order: 7;
    order: 7;
  }
  .order-6-xlg {
    -ms-flex-order: 6;
    -webkit-order: 6;
    order: 6;
  }
  .order-5-xlg {
    -ms-flex-order: 5;
    -webkit-order: 5;
    order: 5;
  }
  .order-4-xlg {
    -ms-flex-order: 4;
    -webkit-order: 4;
    order: 4;
  }
  .order-3-xlg {
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
  }
  .order-2-xlg {
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }
  .order-1-xlg {
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }
  .order-0-xlg {
    -ms-flex-order: 0;
    -webkit-order: 0;
    order: 0;
  }
}

.offset-11 {
  margin-left: 91.66666667%;
  *margin-left: 91.56666667%;
}

.offset-10 {
  margin-left: 83.33333333%;
  *margin-left: 83.23333333%;
}

.offset-9 {
  margin-left: 75%;
  *margin-left: 74.9%;
}

.offset-8 {
  margin-left: 66.66666667%;
  *margin-left: 66.56666667%;
}

.offset-7 {
  margin-left: 58.33333333%;
  *margin-left: 58.23333333%;
}

.offset-6 {
  margin-left: 50%;
  *margin-left: 49.9%;
}

.offset-5 {
  margin-left: 41.66666667%;
  *margin-left: 41.56666667%;
}

.offset-4 {
  margin-left: 33.33333333%;
  *margin-left: 33.23333333%;
}

.offset-3 {
  margin-left: 25%;
  *margin-left: 24.9%;
}

.offset-2 {
  margin-left: 16.66666667%;
  *margin-left: 16.56666667%;
}

.offset-1 {
  margin-left: 8.33333333%;
  *margin-left: 8.23333333%;
}

@media only screen and (min-width: 576px) {
  .offset-11-xs {
    margin-left: 91.66666667%;
    *margin-left: 91.56666667%;
  }
  .offset-10-xs {
    margin-left: 83.33333333%;
    *margin-left: 83.23333333%;
  }
  .offset-9-xs {
    margin-left: 75%;
    *margin-left: 74.9%;
  }
  .offset-8-xs {
    margin-left: 66.66666667%;
    *margin-left: 66.56666667%;
  }
  .offset-7-xs {
    margin-left: 58.33333333%;
    *margin-left: 58.23333333%;
  }
  .offset-6-xs {
    margin-left: 50%;
    *margin-left: 49.9%;
  }
  .offset-5-xs {
    margin-left: 41.66666667%;
    *margin-left: 41.56666667%;
  }
  .offset-4-xs {
    margin-left: 33.33333333%;
    *margin-left: 33.23333333%;
  }
  .offset-3-xs {
    margin-left: 25%;
    *margin-left: 24.9%;
  }
  .offset-2-xs {
    margin-left: 16.66666667%;
    *margin-left: 16.56666667%;
  }
  .offset-1-xs {
    margin-left: 8.33333333%;
    *margin-left: 8.23333333%;
  }
  .offset-0-xs {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}

@media only screen and (min-width: 768px) {
  .offset-11-sm {
    margin-left: 91.66666667%;
    *margin-left: 91.56666667%;
  }
  .offset-10-sm {
    margin-left: 83.33333333%;
    *margin-left: 83.23333333%;
  }
  .offset-9-sm {
    margin-left: 75%;
    *margin-left: 74.9%;
  }
  .offset-8-sm {
    margin-left: 66.66666667%;
    *margin-left: 66.56666667%;
  }
  .offset-7-sm {
    margin-left: 58.33333333%;
    *margin-left: 58.23333333%;
  }
  .offset-6-sm {
    margin-left: 50%;
    *margin-left: 49.9%;
  }
  .offset-5-sm {
    margin-left: 41.66666667%;
    *margin-left: 41.56666667%;
  }
  .offset-4-sm {
    margin-left: 33.33333333%;
    *margin-left: 33.23333333%;
  }
  .offset-3-sm {
    margin-left: 25%;
    *margin-left: 24.9%;
  }
  .offset-2-sm {
    margin-left: 16.66666667%;
    *margin-left: 16.56666667%;
  }
  .offset-1-sm {
    margin-left: 8.33333333%;
    *margin-left: 8.23333333%;
  }
  .offset-0-sm {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}

@media only screen and (min-width: 992px) {
  .offset-11-md {
    margin-left: 91.66666667%;
    *margin-left: 91.56666667%;
  }
  .offset-10-md {
    margin-left: 83.33333333%;
    *margin-left: 83.23333333%;
  }
  .offset-9-md {
    margin-left: 75%;
    *margin-left: 74.9%;
  }
  .offset-8-md {
    margin-left: 66.66666667%;
    *margin-left: 66.56666667%;
  }
  .offset-7-md {
    margin-left: 58.33333333%;
    *margin-left: 58.23333333%;
  }
  .offset-6-md {
    margin-left: 50%;
    *margin-left: 49.9%;
  }
  .offset-5-md {
    margin-left: 41.66666667%;
    *margin-left: 41.56666667%;
  }
  .offset-4-md {
    margin-left: 33.33333333%;
    *margin-left: 33.23333333%;
  }
  .offset-3-md {
    margin-left: 25%;
    *margin-left: 24.9%;
  }
  .offset-2-md {
    margin-left: 16.66666667%;
    *margin-left: 16.56666667%;
  }
  .offset-1-md {
    margin-left: 8.33333333%;
    *margin-left: 8.23333333%;
  }
  .offset-0-md {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}

@media only screen and (min-width: 1200px) {
  .offset-11-lg {
    margin-left: 91.66666667%;
    *margin-left: 91.56666667%;
  }
  .offset-10-lg {
    margin-left: 83.33333333%;
    *margin-left: 83.23333333%;
  }
  .offset-9-lg {
    margin-left: 75%;
    *margin-left: 74.9%;
  }
  .offset-8-lg {
    margin-left: 66.66666667%;
    *margin-left: 66.56666667%;
  }
  .offset-7-lg {
    margin-left: 58.33333333%;
    *margin-left: 58.23333333%;
  }
  .offset-6-lg {
    margin-left: 50%;
    *margin-left: 49.9%;
  }
  .offset-5-lg {
    margin-left: 41.66666667%;
    *margin-left: 41.56666667%;
  }
  .offset-4-lg {
    margin-left: 33.33333333%;
    *margin-left: 33.23333333%;
  }
  .offset-3-lg {
    margin-left: 25%;
    *margin-left: 24.9%;
  }
  .offset-2-lg {
    margin-left: 16.66666667%;
    *margin-left: 16.56666667%;
  }
  .offset-1-lg {
    margin-left: 8.33333333%;
    *margin-left: 8.23333333%;
  }
  .offset-0-lg {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}

@media only screen and (min-width: 1600px) {
  .offset-11-xlg {
    margin-left: 91.66666667%;
    *margin-left: 91.56666667%;
  }
  .offset-10-xlg {
    margin-left: 83.33333333%;
    *margin-left: 83.23333333%;
  }
  .offset-9-xlg {
    margin-left: 75%;
    *margin-left: 74.9%;
  }
  .offset-8-xlg {
    margin-left: 66.66666667%;
    *margin-left: 66.56666667%;
  }
  .offset-7-xlg {
    margin-left: 58.33333333%;
    *margin-left: 58.23333333%;
  }
  .offset-6-xlg {
    margin-left: 50%;
    *margin-left: 49.9%;
  }
  .offset-5-xlg {
    margin-left: 41.66666667%;
    *margin-left: 41.56666667%;
  }
  .offset-4-xlg {
    margin-left: 33.33333333%;
    *margin-left: 33.23333333%;
  }
  .offset-3-xlg {
    margin-left: 25%;
    *margin-left: 24.9%;
  }
  .offset-2-xlg {
    margin-left: 16.66666667%;
    *margin-left: 16.56666667%;
  }
  .offset-1-xlg {
    margin-left: 8.33333333%;
    *margin-left: 8.23333333%;
  }
  .offset-0-xlg {
    margin-left: 0;
    *margin-left: -0.1%;
  }
}

.wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.no-wrap [class*="col-"] {
  -ms-flex-negative: 1;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
}

.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

.direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.direction-row-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.direction-column {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.direction-column-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.align-start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.align-end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.align-end [class*="col-"] {
  vertical-align: bottom;
}

.align-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.align-center [class*="col-"] {
  vertical-align: middle;
}

.align-baseline {
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
}

.align-content-start {
  -ms-flex-line-pack: start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.align-content-end {
  -ms-flex-line-pack: end;
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.align-content-end [class*="col-"] {
  vertical-align: bottom;
}

.align-content-center {
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
}

.align-content-space-between {
  -ms-flex-line-pack: justify;
  -webkit-align-content: space-between;
  align-content: space-between;
}

.align-content-space-around {
  -ms-flex-line-pack: distribute;
  -webkit-align-content: space-around;
  align-content: space-around;
}

.align-self-stretch {
  -ms-flex-item-align: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.align-self-start {
  -ms-flex-item-align: start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

.align-self-end {
  -ms-flex-item-align: end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
  vertical-align: bottom;
}

.align-self-center {
  -ms-flex-item-align: center;
  -webkit-align-self: center;
  align-self: center;
  vertical-align: middle;
}

.align-self-baseline {
  -ms-flex-item-align: baseline;
  -webkit-align-self: baseline;
  align-self: baseline;
  vertical-align: baseline;
}

.justify-start {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.justify-start.grid {
  text-align: left;
}

.justify-end {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.justify-end.grid {
  text-align: right;
  -moz-text-align-last: right;
  text-align-last: right;
}

.justify-end.grid [class*="col-"] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.justify-center.grid {
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}

.justify-center.grid [class*="col-"] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-space-between {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.justify-space-between.grid {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}

.justify-space-between.grid [class*="col-"] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.justify-space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.justify-space-around.grid {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}

.justify-space-around.grid [class*="col-"] {
  text-align: left;
  text-align: start;
  -moz-text-align-last: left;
  -moz-text-align-last: start;
  text-align-last: left;
  text-align-last: start;
}

.grid-bleed [class*="col-"] {
  padding: 0;
}

.col-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.col-grid.direction-row {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.col-bleed {
  padding: 0;
}

.col-bleed-x {
  padding: 15px 0;
}

.col-bleed-y {
  padding: 0 15px;
}

.flex-img {
  display: block;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
  height: auto;
  width: 100%;
  *width: auto;
}

.flex-footer {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0;
}

.flex-footer > :last-child {
  margin-bottom: 0;
}

@media (max-width: 575px) {
  .hidden-xxs {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .hidden-lg {
    display: none;
  }
}

@media (min-width: 1600px) {
  .hidden-xlg {
    display: none;
  }
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="radio"] {
  -webkit-appearance: radio;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

select {
  -webkit-appearance: menuList;
  text-indent: .01px;
  text-overflow: '';
  border: 0;
  border-radius: 0;
}

select::-ms-expand {
  display: none;
}

select[multiple],
select[size] {
  overflow: auto;
  height: auto;
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  height: auto;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

html {
  font-size: 16px;
  font-family: "Lora", Georgia, serif;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 2em 0 8em;
  font-family: "Lora", Georgia, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  text-align: left;
  background-color: #e9e9e9;
  -webkit-overflow-scrolling: touch;
}

header {
  margin-bottom: 5em;
}

section {
  margin-top: 5em;
  padding-top: 2.5em;
  border-top: 3px solid #83e3ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  color: #333;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: 300;
  text-decoration: none;
  color: #636c72;
}

h1 a:hover, h1 a:focus,
h2 a:hover,
h2 a:focus,
h3 a:hover,
h3 a:focus,
h4 a:hover,
h4 a:focus,
h5 a:hover,
h5 a:focus,
h6 a:hover,
h6 a:focus {
  color: #6a1ef5;
  text-decoration: underline;
}

h1 {
  font-size: 26px;
  font-size: 2rem;
}

h2 {
  font-size: 24px;
  font-size: 1.6rem;
}

h3 {
  font-size: 22px;
  font-size: 1.4rem;
}

h4 {
  font-size: 20px;
  font-size: 1.2rem;
}

h5 {
  font-size: 18px;
  font-size: 1.1rem;
}

h6 {
  font-size: 1rem;
}

p {
  margin: 0 0 2em;
}

small {
  font-size: .85em;
}

b,
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  position: relative;
  margin: 0 0 2em;
  padding: 0 2em;
  font-weight: 300;
  font-style: italic;
  color: #636c72;
}

blockquote footer {
  margin-top: 1em;
}

blockquote footer:before {
  content: '- ';
}

ol,
ul {
  margin: 0 0 2em;
  padding: 0 0 0 1.5em;
}

dl {
  margin: 0 0 2em;
}

dl dt {
  margin: 0 0 .25em;
  font-weight: 700;
}

dl dd {
  margin: 0 0 1em .5em;
  color: #636c72;
}

dl dd:last-of-type {
  margin-bottom: 0;
}

hr {
  height: 0;
  margin: 0 0 2em;
  border: 0;
  border-top: 1px solid #333;
}

pre {
  margin: 0 0 2em;
  padding: .5em;
  background-color: #fff;
  overflow-x: scroll;
}

pre code {
  padding: 0;
}

code {
  margin: 0 .2em;
  padding: 0 .5em;
  background-color: #fff;
  white-space: nowrap;
}

a {
  color: #6a1ef5;
  font-weight: 400;
}

a:hover, a:focus {
  color: #4908be;
}

a:focus {
  outline: 3px solid #6a1ef5;
  outline: 5px auto -webkit-focus-ring-color;
}

label,
legend {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 4.96px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-size: 1.2rem;
  color: #333;
}

label p,
legend p {
  font-family: "Lora", Georgia, serif;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 1em;
}

label p:last-child,
legend p:last-child {
  margin-bottom: 0;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  position: relative;
  display: block;
  width: 100%;
  height: 2.5em;
  margin-bottom: 15px;
  padding: 7.5px 15px;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select:hover, select:focus,
textarea:hover,
textarea:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="datetime"]:hover,
input[type="datetime"]:focus,
input[type="datetime-local"]:hover,
input[type="datetime-local"]:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="month"]:hover,
input[type="month"]:focus,
input[type="time"]:hover,
input[type="time"]:focus,
input[type="week"]:hover,
input[type="week"]:focus,
input[type="number"]:hover,
input[type="number"]:focus,
input[type="email"]:hover,
input[type="email"]:focus,
input[type="url"]:hover,
input[type="url"]:focus,
input[type="search"]:hover,
input[type="search"]:focus,
input[type="tel"]:hover,
input[type="tel"]:focus,
input[type="color"]:hover,
input[type="color"]:focus {
  color: #333;
  border-color: #003e50;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  outline: none;
  background-color: #fff;
  box-shadow: inset 0 1px 1px transparent, 0 0 0 2px #003e50;
}

select:last-child,
textarea:last-child,
input[type="text"]:last-child,
input[type="password"]:last-child,
input[type="datetime"]:last-child,
input[type="datetime-local"]:last-child,
input[type="date"]:last-child,
input[type="month"]:last-child,
input[type="time"]:last-child,
input[type="week"]:last-child,
input[type="number"]:last-child,
input[type="email"]:last-child,
input[type="url"]:last-child,
input[type="search"]:last-child,
input[type="tel"]:last-child,
input[type="color"]:last-child {
  margin-bottom: 0;
}

textarea {
  resize: vertical;
  min-height: 10em;
}

input[type="radio"],
input[type="checkbox"] {
  float: left;
  margin-top: .75em;
  margin-left: 1em;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 3px solid #333;
  outline: 5px auto -webkit-focus-ring-color;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: block;
  margin-bottom: 4.96px;
  padding: .5em 1em .5em 2.5em;
  border-radius: 5px;
}

input[type="radio"] + label:hover,
input[type="checkbox"] + label:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  background-color: #dff0d8;
}

button,
.button,
[type="button"] {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  margin-bottom: 4.96px;
  padding: 8px 32px;
  font-family: "Lora", Georgia, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-image: none;
  border: 1px solid #83e3ff;
  border-radius: 5px;
  background-color: #83e3ff;
  color: #333;
  transition: border-color .1s ease-out, background-color .1s ease-out, box-shadow .2s ease-out;
}

button:hover, button:focus,
.button:hover,
.button:focus,
[type="button"]:hover,
[type="button"]:focus {
  background-color: #50d7ff;
  border-color: #003e50;
  color: #333;
}

button:focus,
.button:focus,
[type="button"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #003e50;
}

.logo {
  vertical-align: bottom;
}

.alert {
  padding: 1em;
  background-color: #f0a3a3;
}

.documentation .grid {
  min-height: 250px;
  margin-bottom: 4em;
  background-color: #003e50;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .documentation .grid {
    height: 600px;
  }
}

.documentation .grid [class^="col-"] {
  background-color: #83e3ff;
  box-shadow: inset 0 0 0 15px #9ce9ff;
}

.documentation .grid .grid {
  margin-bottom: -15px;
}

.documentation .grid-plain {
  background-color: transparent;
}

.documentation .grid-plain [class^="col-"] {
  background-color: transparent;
  box-shadow: none;
}

.documentation .grid-bleed [class^="col-"] {
  box-shadow: none !important;
}

.documentation .flex-footer {
  background-color: #a0cedc;
}

.documentation .col-bleed {
  box-shadow: none !important;
}

.documentation .col-bleed-x {
  box-shadow: inset 0 15px 0 0 #9ce9ff, inset 0 -15px 0 0 #9ce9ff !important;
}

.documentation .col-bleed-y {
  box-shadow: inset 15px 0 0 0 #9ce9ff, inset -15px 0 0 0 #9ce9ff !important;
}

.examples .grid {
  margin-bottom: 4em;
}

.examples .grid .grid {
  margin-bottom: -15px;
}

.card-header-img {
  overflow: hidden;
  padding: 0 0 15px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0 15px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: #f9f9f9;
}

.card-body:first-child {
  padding-top: 15px;
  border-top: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body:only-child {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.direction-row .card-bg-img {
  display: block;
  float: left;
  width: 40%;
  max-width: 40%;
  min-height: 150px;
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
}

.direction-row .card-bg-img::after {
  content: '';
  display: block;
  padding-top: 60%;
}

.direction-row .card-body {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex: 1 1 60%;
  -webkit-flex: 1 1 60%;
  flex: 1 1 60%;
  padding: 15px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 0;
  border-bottom: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.direction-row .card-body > :last-child {
  margin-bottom: 0;
}

.card-footer {
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: auto;
  padding: 15px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-center {
  display: block;
  overflow: hidden;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card-center > :last-child {
  margin-bottom: 0;
}

.card-link {
  color: #333;
  text-decoration: none;
  transition: box-shadow .4s, border-color .2s;
  box-shadow: 0 0 0 2px transparent;
}

.card-link:hover, .card-link:focus {
  color: #333;
  border-color: #00a1cf;
  outline: none;
}

.card-link:focus {
  box-shadow: 0 0 0 2px #00a1cf;
}

.card-footer-link {
  display: block;
  overflow: hidden;
  margin-top: auto;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #9ce9ff;
  text-align: center;
  text-decoration: none;
}

.card-footer-link:hover, .card-footer-link:focus {
  text-decoration: underline;
  color: #333;
  border-color: #36d2ff;
  background-color: #36d2ff;
  outline: none;
}

.card-img-circle {
  width: 60%;
  max-width: 60%;
  border-radius: 50%;
  margin: 15px auto;
}

.example-3-column .logo {
  padding: 1em .5em 0;
}

.example-3-column .col-feature {
  background-color: #83e3ff;
}

.example-3-column .col-body {
  background-color: #fff;
}

.example-3-column .flex-img {
  margin-bottom: 2em;
}

.example-3-column .flex-footer {
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.example-3-column .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.example-3-column .nav li {
  margin-bottom: .5em;
}

.example-3-column .nav li a {
  display: block;
  padding: .5em 1em;
  background-color: #9ce9ff;
  text-decoration: none;
}

.example-3-column .nav li a.active {
  background-color: #fff;
}

.example-3-column .nav li a.active:hover {
  background-color: #fff;
}

.example-3-column .nav li a:hover {
  background-color: #cff4ff;
}

.example-shop .flex-img {
  margin-bottom: 1em;
}

.example-shop .flex-footer a {
  float: right;
}

.example-blog .img-shape {
  border-radius: 50%;
  margin-left: 15px;
  float: right;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}

.example-blog .img-shape-sm {
  max-width: 40%;
}

.example-nested .flex-img,
.example-nested-cards .flex-img {
  margin-bottom: 1em;
}

.example-tiles a.col-center {
  overflow: hidden;
  min-height: 250px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #f9f9f9;
}

.example-tiles a.col-center h3,
.example-tiles a.col-center p {
  margin: 0;
  transform: translateY(16px);
  transition: transform .2s ease-out .15s;
}

.example-tiles a.col-center .button {
  display: inline-block;
  opacity: 0;
  padding: .5em 1em;
  color: #fff;
  background-color: #003e50;
  border: 1px solid #333;
  border-radius: 5px;
  transform: translateY(16px);
  transition: transform .2s ease-out .1s, opacity .3s ease-out .1s;
}

.example-tiles a.col-center:hover, .example-tiles a.col-center:focus {
  outline: none;
}

.example-tiles a.col-center:hover h3,
.example-tiles a.col-center:hover p, .example-tiles a.col-center:focus h3,
.example-tiles a.col-center:focus p {
  transform: translateY(-8px);
}

.example-tiles a.col-center:hover .button, .example-tiles a.col-center:focus .button {
  opacity: 1;
  transform: translateY(0);
}

.example-tiles [class^="col-"]:nth-child(1) {
  background-color: #9ce9ff;
}

.example-tiles [class^="col-"]:nth-child(2) {
  background-color: #83e3ff;
}

.example-tiles [class^="col-"]:nth-child(3) {
  background-color: #69deff;
}

.example-tiles [class^="col-"]:nth-child(4) {
  background-color: #50d8ff;
}

.example-tiles [class^="col-"]:nth-child(5) {
  background-color: #36d2ff;
}

.example-form .button {
  width: 100%;
  font-size: 18px;
  font-size: 1.2rem;
}

@media only screen and (min-width: 992px) {
  .example-form .button {
    width: auto;
    float: right;
  }
}

.example-image-display .grid {
  min-height: 600px;
  height: 100vh;
  background-color: #83e3ff;
  background-image: url(../images/large.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.example-image-display .control {
  font-family: monospace, monospace;
  font-weight: bold;
}

.example-image-display .info {
  color: #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.15) 50%, transparent);
}

.example-image-display .button {
  display: inline-block;
  margin: 0 7.5px 7.5px 0;
  padding: .5em 1em;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  opacity: .8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  transition: opacity .2s ease-out, box-shadow .2s ease-out;
}

.example-image-display .button:hover, .example-image-display .button:focus {
  opacity: 1;
}

.example-image-display .button:focus {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 0 0 2px #003e50;
}

.example-image-display .aside {
  float: right;
}

.example-image-display .aside .button {
  margin: 0 0 7.5px 7.5px;
}
