//
// Button animations
// ---

// variables

@bg-color: @theme;
@bg-color-focus: darken(@bg-color, 10%);
@color: #fff;
@padding: 0.5em;
@font-size: 1em;

// Generic mixins

.transition(@transition) {
    -webkit-transition:     @transition;
    -moz-transition:        @transition;
    -ms-transition:         @transition;
    -o-transition:          @transition;
    transition:             @transition;
}

.transform(@string){
    -webkit-transform:      @string;
    -moz-transform:         @string;
    -ms-transform:          @string;
    -o-transform:           @string;
    transform:              @string;
}

.transform-origin(@x:center, @y:center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin:    @x @y;
    -ms-transform-origin:     @x @y;
    -o-transform-origin:      @x @y;
    transform-origin:         @x @y;
}

.animation(@animation) {
    -webkit-animation:      @animation;
    -moz-animation:         @animation;
    -ms-animation:          @animation;
    animation:              @animation;
}

.button-style() {
    .transition(all 0.2s ease);
    border-radius: 3px;
    overflow: hidden;
    color: @color;
    display: inline-block;
    padding: @padding;
    position: relative;
    font-size: @font-size;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-color: @bg-color;
    color: @color;
    border: 0;

    &:hover,
    &:focus {
        outline: none;
        text-decoration: none;
        background-color: @bg-color-focus;
    }
}

.button-icon() {
    padding: @padding @padding*4;

    &:before,
    &:after {
        .transition(all 0.2s ease);
        position: absolute;
        right: @padding;
        top: @padding;
        display: inline-block;
        font-size: @font-size;
        color: @bg-color;
    }

    &:before {
        right: @padding;
    }

    &:hover,
    &:focus {
        &:before,
        &:after {
            color: @color;
        }
    }
}

// animations

@-webkit-keyframes blink {
    1%, 50% { opacity: 1; }
    51%, 100% { opacity: 0; }
}

@keyframes blink {
    0%, 50% { opacity: 0; }
    51%, 100% { opacity: 1; }
}

// Button specific mixins
.button-reply() {
    .button-icon();

    &:after {
        content: "\21B5";
        .transform(rotate(-90deg));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotate(0deg));
        }
    }
}

.button-download() {
    .button-icon();

    &:after {
        content: "\2192";
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotate(90deg));
            border-right: 1px solid #fff;
        }
    }
}

.button-external() {
    .button-icon();

    &:after {
        content: "\2192";
    }

    &:hover,
    &:focus {
        &:after {
            .transform(rotate(-45deg));
        }
    }
}

.button-submit() {
    .button-icon();

    &:after {
        content: "\00BB";
        .transform(translateX(-0.2em) translateY(-0.1em) scale(1.4));
    }

    &:hover,
    &:focus {
        &:after {
            .transform(translateX(0em) translateY(-0.1em) scale(1.4));
        }
    }
}

.button-code() {
    .button-icon();

    &:before {
        content: "\003E";
    }

    &:after {
        .transition(none);
        content: "\005F";
    }

    &:hover,
    &:focus {
        &:after {
            .animation(blink 1s infinite normal linear);
        }
    }
}

// Output css

a,
button {
    &:hover {
        text-decoration: underline;
    }

    &:focus {
        text-decoration: underline;
    }

    &.btn {
        .button-style();
    }

    &.btn-block {
        width: 100%;
        display: block;
        text-align: center;
    }

    &.btn-download {
        .button-download();
    }

    &.btn-external {
        .button-external();
    }

    &.btn-submit {
        .button-submit();
    }

    &.btn-code {
        .button-code();
    }
}
