//
// Typography
// ---

small {
    font-size: 85%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: @font-weight-strong;
    margin: 1em 0;
}

h1 {
    font-size: (@font-size-base-px * 3);
    font-size: (@font-size-base-rem * 3);
    color: @theme;
}

h2 {
    font-size: (@font-size-base-px * 1.6);
    font-size: (@font-size-base-rem * 1.6);
    border-bottom: 1px solid @text-colour;
}

h3 {
    font-size: (@font-size-base-px * 1.4);
    font-size: (@font-size-base-rem * 1.4);
}

h4 {
    font-size: (@font-size-base-px * 1.2);
    font-size: (@font-size-base-rem * 1.2);
}

h5 {
    font-size: (@font-size-base-px * 1.1);
    font-size: (@font-size-base-rem * 1.1);
}

h6 {
    font-size: @font-size-base-px;
    font-size: @font-size-base-rem;
}

p {
    margin: 0 0 1em;
}

b,
strong {
    font-weight: @font-weight-strong;
}

blockquote {
    margin: 0 0 @dimension-padding-lg;
    font-style: italic;
}

code {
    padding: 2px 4px;
    color: #333;
    font-size: 0.9em;
    font-family:  @font-family-monospace;
    background-color: #e9e9e9;
    white-space: nowrap;
}

// Blocks of code
pre {
    display: block;
    padding: @dimension-padding-base;
    margin: 0;
    color: #333;
    font-size: 0.8em;
    font-family:  @font-family-monospace;
    background-color: #fff;
    border: 1px solid @theme;
    overflow-x: auto;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
