.table {
	border-collapse: collapse;
}

.table-responsive {
	width: 100%;
	max-width: 100%;
	overflow-x: auto;
	@media (max-width: $reflex-sm) {
		display: block;
	}
}

// Responsive Utilities Table

.table.responsive-utilities {
	border: 0;
	margin-bottom: 3em;

	>tbody>tr>td,
	>tbody>tr>th,
	>tfoot>tr>td,
	>tfoot>tr>th,
	>thead>tr>td,
	>thead>tr>th {
		padding: .75rem;
		vertical-align: top;
	}

	>tbody>tr>th {
		text-align: left;
	}

	th, td {
		text-align: center;
	}

	th small {
		display: block;
		font-weight: 400;
		color: #999;
	}

	.is-hidden {
		color: #ccc;
		background-color: #f9f9f9;
	}

	.is-visible {
		background-color: $colour-col;
	}
}