.documentation {
    [class^="#{$reflex-prefix}col-"] {
        background-color: $colour-col;
        box-shadow: inset 0 0 0 $reflex-grid-spacing $colour-col-padding;
    }

    .grid {
        min-height: $grid-min-height;
        margin-bottom: 2em;
        background-color: $colour-grid-bg;
    }
}

.alert {
    padding: 1em;
    background-color: $colour-alert;
}
