$colour-body: #e9e9e9;
$colour-text: #333;
$colour-text-muted: #636c72;
$colour-link: #6a1ef5;
$colour-alert: #f0a3a3;
$colour-code: #fff;
$colour-border: #ccc;
$colour-grid-bg: #003e50;
$colour-col: #83e3ff;
$colour-col-padding: #9ce9ff;
$colour-col-footer: #a0cedc;
$colour-white: #fff;
$colour-black: #000;
$colour-state-success: #dff0d8;

$font-family-base: "Lora", Georgia, serif;
$font-family-heading: "Josefin Sans", sans-serif;
$font-size-base: 16px;
$font-weight-light: 300;
$font-weight-base: 400;
$font-weight-strong: 700;
$line-height-base: 1.4;

$grid-min-height: 250px;

$card-bg: #f9f9f9;
$card-border: 1px solid $colour-border;
$card-border-radius: 5px;
$card-shadow:  0 0 5px $colour-text;

$shadow-form-inset: inset 0 1px 1px rgba($colour-black, .075);
$shadow-form-inset-focus: inset 0 1px 1px transparent;
$shadow-form-focus: 0 0 0 2px $colour-grid-bg;


