.example-3-column {
    .logo {
        padding: 1em .5em 0;
    }

    .col-feature {
        background-color: $colour-col;
    }

    .col-body {
        background-color: $colour-white;
    }

    .flex-img {
        margin-bottom: 2em;
    }

    .flex-footer {
        padding-bottom: $reflex-grid-spacing;
        border-bottom: $card-border;
    }

    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            margin-bottom: .5em;

            a {
                display: block;
                padding: .5em 1em;
                background-color: $colour-col-padding;
                text-decoration: none;

                &.active {
                    background-color: $colour-white;

                    &:hover {
                        background-color: $colour-white;
                    }
                }

                &:hover {
                    background-color: lighten($colour-col-padding, 10%);
                }
            }
        }
    }
}

.example-shop {
    .flex-img {
        margin-bottom: 1em;
    }

    .flex-footer {
        a {
            float: right;
        }
    }
}

.example-blog {
    .img-shape {
        border-radius: 50%;
        margin-left: $reflex-grid-spacing;
        float: right;
        -webkit-shape-outside: circle();
        shape-outside: circle();
    }

    .img-shape-sm {
        max-width: 40%;
    }
}

.example-nested,
.example-nested-cards {
    .flex-img {
        margin-bottom: 1em;
    }
}